<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    div{
      text-align: center;
      margin: 10px;
    }
    
  </style>

<body>

<!-- display messages-->
<div>
  {{message}}
</div>
<!--used for login-->
<form method="POST" action="/loginCheck">
  <div>
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="usernameInput" maxlength="20" required>
  </div>
  <div>
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="passwordInput" maxlength="60" required>
  </div>
  <div>
    <input type="submit" value="Login!">
  </div>
</form>
<!--Switch to registration-->
<div><a href="/Registration">Switch To Registration</a></div>
</body>


</html>
